BasedOnStyle: LLVM
ColumnLimit: 120
AlignAfterOpenBracket: DontAlign
ContinuationIndentWidth: 4
BinPackParameters: true
AllowAllParametersOfDeclarationOnNextLine: false
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
  AfterControlStatement: true
  AfterClass: true

# --- ADD THESE TO PREVENT EARLY WRAPPING ---
AlwaysBreakTemplateDeclarations: false
PackConstructorInitializers: Never
AllowShortFunctionsOnASingleLine: None
PenaltyBreakOpenParenthesis: 1000
PenaltyBreakAssignment: 100
